body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:rgb(231, 62, 24);
}

a {
    text-decoration: none;
}
#bg-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.input-control{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.box-login{
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    background-color:rgb(19, 19, 19);
    padding: 15px;
    box-sizing: border-box;
}
.box-login h2{
    text-align: center;
    margin-bottom: 15px;
}
.btn-login{
    padding: 8px 15px;
    background-color:rgb(201, 9, 118);
    color: #fff;
    border: none;
    cursor: pointer;
}

aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(243, 11, 11);
}

header {
    text-align: center;
    padding: 20px 0;
}

.brand {
    width: 80px;
}

.user {
    font-weight: bold;
    padding-top: 10px;
}

main {
    margin-left: 210px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    display: block;
    color: #ffffff;
}

nav a:hover {
    background-color:darkgray;
}

nav .icon {
    width: 25px;
    float: left;
    padding-right: 10px;
}

.info {
    background-color:rgb(223, 19, 19);
    padding: 20px;
    margin-top: 10px;
}

table {
    margin: 15px 0;
    border: 1px solid white;
    border-collapse: collapse;
    width: 75%;
}

table th {
    border: 1px solid white;
    padding: 8px;
    background-color: whitesmoke;
}

table tr td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

.btn {
    background-color:rgb(228, 162, 186);
    border-radius: 4px;
    color: #ffffff;
    padding: 5px;
}

.btn:hover {
    background-color:rgb(11, 11, 11);
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0px 20px 10px;
    background-color:rgb(233, 49, 7);
    width: 100%;
    border-top: 1px solid rgb(12, 12, 12);
}